{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "importOrder": [
    "^react",
    "^@",
    "^[^.@src/]",
    "^src/",
    "^./",
    "<THIRD_PARTY_MODULES>"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
